@font-face {
    font-family: "MyFont";
    src: url('./MinecraftRegular.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MyFontItalic";
    src: url('./MinecraftItalic.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Logo";
    src: url('./fontLogo.ttf');
}


html, body {
    display: block;
    margin: 0;
    height: 100vh;
    width: 100vw;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: url('./minecraftBackground.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}


.navContainer {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-family: "Logo";
}

.title {
    align-items: center;
    text-align: center;
}

.navButton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}





.container-home {
    margin: 5em;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.text-container {
    font-family: "MyFont";
    justify-content: center;
    text-align: center;
}

.chef-image {
    border-radius: 50%;
    max-width: 90%;
    height: auto;
}

.order-text {
    font-family: "MyFont";
}

.footer-container {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "MyFontItalic";
    color: white;
}

.footer-container span {
    padding: 10px;
    display: flex;    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navButton .not-show {
    display: none;
}

.shop-container {
    margin: 5em;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: stretch;
    padding: 3em;
    gap: 3em;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.food-cell {
    /* margin: 10em; */
    width: 20vw;
    max-width: 90%;
    height: 348px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2em;
    color: white;
    font-family: "MyFont";
    text-align: center;
    justify-content: center;
    
}

.food-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.price-container {
    color: white;
    font-family: "MyFont";
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.price-container img {
    max-width: 10%;
    height: auto;
}

#informationContainer {
    position: absolute;
    padding-left: 10px;
    width: 250px;
    height: auto-fit;
    border: 5px solid #1b0539;
    background-color: #140413;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    pointer-events: none;
    color: white;
}

.title-hover {
    color: #fdfbfb;
    font-family: "MyFontItalic";
}

.upgrade-text {
    color: #a9a7a8;
    font-family: "MyFont";
}

.upgrade-data {
    font-family: "MyFont";
    color: #5d5858;
    padding: 5px;
}

.when-on-body {
    font-family: "MyFont";
    color: #a9a7a8;
}

.when-on-body-text {
    font-family: "MyFont";
    color: #584eb9;
    padding: 5px;
}

.about-container {
    margin: 5em;
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "MyFont";
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.info-container {
    padding-left: 5em;
    gap: 20px;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.image-container {
    margin: 3em;
}

.image-container img {
    max-width: 90%;
}

.home-btn, 
.shot-btn, 
.about-btn {
    background-color: grey;
    font-family: "MyFont";
    border-radius: 0px;
    color: white;
}
